<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/style.css">
</head>


<body>
<!--Inicia Header-->
<header class="header">

  <div class="contenedor">
  <nav class="header__contenido"> 
  <picture class="logo">
    <a href="../../index.html"> <img src="../../assets/img/Logoweb.png" style width="100px"></a>
    </picture>

    <ul class="menu flex-row">
      <li class="menu__item">
        <a href="../views/noticias.html" class="menu__link">Noticias</a>
      </li>
      <li class="menu__item">
        <a href="../views/sneakers.html" class="menu__link">Sneakers</a>
      </li>
      <li class="menu__item">
        <a href="../views/streetwear.html" class="menu__link">Streetwear</a>
      </li>
      <li class="menu__item">
        <a href="../views/accesorios.html" class="menu__link">Accesorios</a>
      </li>
    
    </ul>
  </nav>

  </div>

  </header>

  
  <!--Finaliza Header-->

    <!-- Inicia Formulario de contacto-->

<section class="form-contact">


<form action="" class="contact" method="get"

    <table="" cellpading="10px" cellspacing="10px"></table=> 

        <input type="text" id="name" name="user_name" placeholder="Nombre"> <br>

        <input type="text" name="Apellidos" id="" placeholder="Apellidos"><br>

        <input type="email" id="mail" name="user_mail" placeholder="Correo Electrónico"> <br>

        <textarea id="msg" name="user_message" placeholder="Mensaje"></textarea><br>

        <input type="submit" value="Enviar">
      

        </form> 
    </section>
        <!--Termina Formulario de contacto-->

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        
        <footer>

            <div class="footer-content"
            <div class="logo">
                <p> <a href="../../index.html"> <img src="../img/Logoweb.png" style width="150px"></a></p>
                <p>Pisados se ven más chidos</p>
        </div>
           
                <ul class="socials">
                <a href="https://twitter.com/LyonAguilar/"> <img src="../img/60580.png" style="width: 30px;"> 
                </a> <a href="https://www.facebook.com/BeHumbl3/"> <img src="../img/fbpng.png"style= "width: 30px;"></a> 
                </ul>

                <p> ©2022 Troubles, Inc. Todos los
                    derechos reservados.</p>
            </div>

        
        </footer>

</body>

</html>