<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Noticias</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<!--Inicia Header-->
<header class="header">

  <div class="contenedor">
    <nav class="header__contenido">
      <picture class="logo">
        <a href="../../index.html"> <img src="../img/Logoweb.png" style width="100px"></a>
      </picture>

      <ul class="menu flex-row">
        <li class="menu__item">
          <a href="../views/noticias.html" class="menu__link">Noticias</a>
        </li>
        <li class="menu__item">
          <a href="../views/sneakers.html" class="menu__link">Sneakers</a>
        </li>
        <li class="menu__item">
          <a href="../views/streetwear.html" class="menu__link">Streetwear</a>
        </li>
        <li class="menu__item">
          <a href="../views/accesorios.html" class="menu__link">Accesorios</a>
        </li>

      </ul>
    </nav>

  </div>

</header>


<!--Finaliza Header-->


<div class="noticias">
  <div>
    <img src="../img/NBA-YoungBoy-obtiene-fecha-de-juicio-despues-de-victoria-con-758x505.jpg" alt=noticia1">
    <h3>NBA YoungBoy obtiene fecha de juicio después de victoria con evidencia en video: ‘100 por ciento convencido de
      su inocencia’</h3>
    <p>El prodigio del rap se enfrentará a un jurado el 16 de mayo en el Distrito Medio de Luisiana, anunció el tribunal
      el lunes, poco más de una semana después de que un juez le otorgara una victoria previa al juicio considerable al
      suprimir una gran cantidad de evidencia en video incautada en el alto -caso de perfil.

      “Estamos 100 por ciento convencidos de su inocencia, y ahora tenemos que seguir evaluando nuestra estrategia”,
      dice el abogado defensor Drew Findling. piedra rodante. “La inconstitucionalidad de la aplicación de la ley fue
      evidente para el tribunal y resultó en una gran cantidad de evidencia de ser desechada. Estamos ansiosos por ir a
      la corte”.</p>

  </div>
  <div>
    <img src="../img/paul-mccartney-billie-eilish-kendrick-lamar-cartel-glastonbury-2022.webp" alt="noticia2">
    <h3>PAUL MCCARTNEY, BILLIE EILISH Y KENDRICK LAMAR ENCABEZAN EL GLASTONBURY 2022</h3>
    <p>Luego de un buen rato de incertidumbre y nerviosismo –porque pandemia–, las cosas en la industria musical
      volvieron a la normalidad. A pesar de que todavía nos piden mantener la sana distancia, usar cubrebocas y demás
      medidas para evitar contagios, los conciertos y festivales regresaron a nuestras vidas y eso nos tiene muy
      contentos. Pero este año también volverán espacios muy importantes para la música, como el Glastonbury.

      Como recordarán, en 2020, este festival (de los más reconocidos de Europa y el mundo) anunció que debido a la
      situación con el coronavirus, tendrían que posponer todo hasta nuevo aviso. Aunque los organizadores estaban
      optimistas y armaron una edición virtual esperando que en 2021 pudieran hacerlo de manera presencial,
      lamentablemente las cosas no salieron como esperaban y una vez más, no les quedó de otra más que frenar sus
      planes. </p>

  </div>
  <div>
    <img src="../img/INTERIORES2.jpeg" alt="noticia3">
    <h3>Grafiteras reivindican su papel en el hip hop</h3>
    <p>Durante años se ha creído que la cultura del hip hop, en la que el graffiti es una de sus máximas expresiones,
      pertenece únicamente a los hombres. Sin embargo, desde esta cultura dominada mayormente por la masculinidad, las
      mujeres han luchado por obtener espacios en bardas perimetrales, fachadas de edificios y recientemente en galerías
      urbanas, para demostrar que ellas también forman parte.

      La violencia, la maternidad, el amor, la familia y la lealtad a las amistades o al barrio donde se creció, son
      sólo algunos de los temas de los que ellas, las grafiteras de México, hablan en sus murales, tags o grafitis.</p>

  </div>
  <div>
    <img src="../img/queda-cancelado-segunda-ocasion-festival-glastonbury-.webp" alt="noticia4">
    <h3>El Glastonbury regresa en 2022 con un cartel alucinante</h3>
     <p> Sin embargo, en 2022 todo es muy diferente, pues el Glastonbury regresará al Worthy Farm de Reino Unido para una
      semana llena de grandes artistas. Este 4 de marzo y mientras de este lado del charco dormíamos, se anunció el
      cartel con el que este gran festival volverá y vaya que nos dejaron con el ojo cuadrado, porque no solo reunieron
      a verdaderas leyendas de la música, también un montón de talento joven sensacional.

      Para que se den una idea de lo que hablamos, Paul McCartney, Billie Eilish, Kendrick Lamar y Diana Ross serán los
      headliners que prenderán el icónico Pyramid Stage. Pero además de ellos, también tenemos actos increíbles como
      Foals, Doja Cat, The Jesus and Mary Chain, Lorde, Noel Gallagher y sus High Flying Birds, Olivia Rodrigo, Pet Shop
      Boys, Arlo Parks, Primal Scream, St. Vincent, Wolf Alice, Metronomy y muchos más..</p>

  </div>
</div>


</section>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer class="footer">
  <div class="contenedor">
    <footer>
      <div class="logo">
        <p> <a href="index.html"> <img src="../img/Logowebfooter.png" style width="0px"></a></p>

      </div>

      <ul class="socials">
        <a href="https://twitter.com/LyonAguilar/"> <img src="../img/fbpng.png" style="width: 30px;"></a>
        <a href="https://www.facebook.com/BeHumbl3/"> <img src="../img/60580.png" style="width: 30px;"></a>
      </ul>

      <p>©2022 Troubles, Inc. Todos los
        derechos reservados.</p>
  </div>

</footer>
</body>

</html>