<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Sigue toda la información de la NBA, Conciertos, Lanzamientos, etc.">
  <meta name="keywords"
    content="Humble, sneakers, streetwear, México, nba, mlb, nfl, adidas, nike, reebok, vans, asics, jordan, new era, basketball, futbol, soccer, jerseys">
  <title>Noticias</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/styles.css">
</head>

<!--Inicia Header-->
<header class="container-fluid">

  <nav class="navbar navbar-expand-lg navbar-light bg-white p3">
    <div class="container-fluid">
      <a class="navbar-brand" href="../../index.html">
        <span class="text-dark fs-5 fw-bold  ">Humbless</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../views/noticias.html">Noticias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/sneakers.html">Sneakers</a>
          <li class="nav-item">
            <a class="nav-link" href="../views/streetwear.html">Streetwear</a>
          <li class="nav-item">
            <a class="nav-link" href="../views/accesorios.html">Accesorios</a>
          <li class="nav-item">
            <a class="nav-link" href="../views/contacto.html">Contacto</a>
          </li>
        </ul>

        <form class="d-flex">
          <input class="form-control me-2" type="email" placeholder="Correo Electronico" aria-label="email">
          <button class="btn  btn-warning btn-warning-success" type="buttom">Suscribete</button>
        </form>
      </div>
    </div>
  </nav>


</header>


<!--Finaliza Header-->


<div class="sneakersEncabezado">
  <h1>Noticias</h1>
</div>

<main class="container">

  <section class="row">

    <article class="col-sm-6 col-md- 4">
      <img class="im-fuid" src="../img/curry.webp" alt=noticia1">
      <h2>El deseo de LeBron que amenaza a la NBA: "Steph Curry es con quien quisiera jugar"</h2>
      <p>No han pasado ni 24 horas de la eliminación de los Lakers y ya hay comentarios públicos de
        LeBron James que hacen temblar al resto de la NBA: quiere jugar con Stephen Curry.
        Complex publicó un adelanto exclusivo del nuevo episodio de The Shop, el programa de HBO que produce junto a
        Maverick Carter y en el que James vuelve para la quinta temporada, con la lista de deseos del todavía jugador de
        los Lakers.
        "Bronny es el número 1 en mi maldita lista", respondió James al ser cuestionado sobre los jugadores con los que
        le gustaría convertir equipo, antes de pasar a analizar la NBA actual.
        "¿De la actualidad? Mierda, hay muchos 'desgraciados' en el juego hoy, pero Steph Curry. Steph Curry es con
        quien quisiera jugar", dijo LeBron.
        "Es letal. Tienes que marcarlo desde que se baja del auto para llegar al estadio. Tendrías que marcarle desde
        que sale de la cama de su casa. Te lo juro...", agregó James.
      </p>

    </article>

    <article class="col-sm-6 col-md-4">
      <img class="im-fuid" src="../img/NBA-YoungBoy-obtiene-fecha-de-juicio-despues-de-victoria-con-758x505.jpg"
        alt=noticia2">
      <h2>NBA YoungBoy obtiene fecha de juicio después de victoria con evidencia en video: ‘100 por ciento convencido de
        su inocencia’</h2>
      <p>El prodigio del rap se enfrentará a un jurado el 16 de mayo en el Distrito Medio de
        Luisiana, anunció el
        tribunal
        el lunes, poco más de una semana después de que un juez le otorgara una victoria previa al juicio considerable
        al
        suprimir una gran cantidad de evidencia en video incautada en el alto -caso de perfil.

        “Estamos 100 por ciento convencidos de su inocencia, y ahora tenemos que seguir evaluando nuestra estrategia”,
        dice el abogado defensor Drew Findling. piedra rodante. “La inconstitucionalidad de la aplicación de la ley fue
        evidente para el tribunal y resultó en una gran cantidad de evidencia de ser desechada. Estamos ansiosos por ir
        a
        la corte”.</p>

    </article>

    <article class="col-sm-6 col-md-4">
      <img class="im-fuid" src="../img/INTERIORES2.jpeg" alt=noticia3">
      <h2>Grafiteras reivindican su papel en el hip hop</h2>
      <p>Durante años se ha creído que la cultura del hip hop, en la que el graffiti es una de sus
        máximas expresiones, pertenece únicamente a los hombres. Sin embargo, desde esta cultura dominada mayormente por la masculinidad, las
        mujeres han luchado por obtener espacios en bardas perimetrales, fachadas de edificios y recientemente en
        galerías urbanas, para demostrar que ellas también forman parte.
        La violencia, la maternidad, el amor, la familia y la lealtad a las amistades o al barrio donde se creció, son
        sólo algunos de los temas de los que ellas, las grafiteras de México, hablan en sus murales, tags o grafitis.
      </p>

    </article>


  </section>




  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>



  <footer class="footer">
    <div class="contenedor">
      <footer>
        <div class="container">
          <p class="fs-3"> HUMBLESS</a></p>

        </div>

        <ul class="socials">
          <a href="https://twitter.com/LyonAguilar/"> <img src="../img/60580.png" style="width: 30px;"></a>
          <a href="https://www.facebook.com/BeHumbl3/"> <img src="../img/fbpng.png" style="width: 30px;"></a>
        </ul>

        <p>©2022 Troubles, Inc. Todos los
          derechos reservados.</p>
    </div>

  </footer>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
  </body>

</html>