<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Noticias</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/styles.css">
</head>

<!--Inicia Header-->
<header class="container-fluid">

  <nav class="navbar navbar-expand-lg navbar-light bg-white p3">
    <div class="container-fluid">
      <a class="navbar-brand" href="../../index.html">
        <span class="text-dark fs-5 fw-bold  ">Humbless</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../views/noticias.html">Noticias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sneakers</a>
          <li class="nav-item">
            <a class="nav-link" href="#">Streetwear</a>
          <li class="nav-item">
            <a class="nav-link" href="#">Accesorios</a>
          <li class="nav-item">
            <a class="nav-link" href="../views/contacto.html">Contacto</a>
          </li>
        </ul>

        <form class="d-flex">
          <input class="form-control me-2" type="email" placeholder="Correo Electronico" aria-label="email">
          <button class="btn  btn-warning btn-warning-success" type="buttom">Suscribete</button>
        </form>
      </div>
    </div>
  </nav>


</header>


<!--Finaliza Header-->


<div class="sneakersEncabezado">
  <h1>Noticias</h1>
</div>

<main class="container">

  <section class="row">
    <article class="col-sm-6 col-md- 4">
      <img class="im-fuid" src="../img/NBA-YoungBoy-obtiene-fecha-de-juicio-despues-de-victoria-con-758x505.jpg" alt=noticia1">
      <h2>NBA YoungBoy obtiene fecha de juicio después de victoria con evidencia en video: ‘100 por ciento convencido de
        su inocencia’</h2>
      <p>El prodigio del rap se enfrentará a un jurado el 16 de mayo en el Distrito Medio de Luisiana, anunció el tribunal
        el lunes, poco más de una semana después de que un juez le otorgara una victoria previa al juicio considerable al
        suprimir una gran cantidad de evidencia en video incautada en el alto -caso de perfil.
    
        “Estamos 100 por ciento convencidos de su inocencia, y ahora tenemos que seguir evaluando nuestra estrategia”,
        dice el abogado defensor Drew Findling. piedra rodante. “La inconstitucionalidad de la aplicación de la ley fue
        evidente para el tribunal y resultó en una gran cantidad de evidencia de ser desechada. Estamos ansiosos por ir a
        la corte”.</p>
    
    </article>

    <article class="col-sm-6 col-md- 4">
      <img class="im-fuid" src="../img/INTERIORES2.jpeg" alt=noticia1">
      <h2>Grafiteras reivindican su papel en el hip hop</h2>
      <p>Durante años se ha creído que la cultura del hip hop, en la que el graffiti es una de sus máximas expresiones,
        pertenece únicamente a los hombres. Sin embargo, desde esta cultura dominada mayormente por la masculinidad, las
        mujeres han luchado por obtener espacios en bardas perimetrales, fachadas de edificios y recientemente en galerías
        urbanas, para demostrar que ellas también forman parte.
  
        La violencia, la maternidad, el amor, la familia y la lealtad a las amistades o al barrio donde se creció, son
        sólo algunos de los temas de los que ellas, las grafiteras de México, hablan en sus murales, tags o grafitis.</p>
    
    </article>

    <article class="col-sm-6 col-md- 4">
      <img class="im-fuid" src="../img/paul-mccartney-billie-eilish-kendrick-lamar-cartel-glastonbury-2022.webp" alt=noticia1">
      <h2>El Glastonbury regresa en 2022 con un cartel alucinante</h2>
      <p> Sin embargo, en 2022 todo es muy diferente, pues el Glastonbury regresará al Worthy Farm de Reino Unido para una
        semana llena de grandes artistas. Este 4 de marzo y mientras de este lado del charco dormíamos, se anunció el
        cartel con el que este gran festival volverá y vaya que nos dejaron con el ojo cuadrado, porque no solo reunieron
        a verdaderas leyendas de la música, también un montón de talento joven sensacional.
  
        Para que se den una idea de lo que hablamos, Paul McCartney, Billie Eilish, Kendrick Lamar y Diana Ross serán los
        headliners que prenderán el icónico Pyramid Stage. Pero además de ellos, también tenemos actos increíbles como
        Foals, Doja Cat, The Jesus and Mary Chain, Lorde, Noel Gallagher y sus High Flying Birds, Olivia Rodrigo, Pet Shop
        Boys, Arlo Parks, Primal Scream, St. Vincent, Wolf Alice, Metronomy y muchos más..</p>
    
    </article>

  </section>

  


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer class="footer">
  <div class="contenedor">
    <footer>
      <div class="container">
        <p class="fs-3"> HUMBLESS</a></p>

      </div>

      <ul class="socials">
        <a href="https://twitter.com/LyonAguilar/"> <img src="../img/60580.png" style="width: 30px;"></a>
        <a href="https://www.facebook.com/BeHumbl3/"> <img src="../img/fbpng.png" style="width: 30px;"></a>
      </ul>

      <p>©2022 Troubles, Inc. Todos los
        derechos reservados.</p>
  </div>

</footer>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</body>

</html>