<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Moda urbana, sneakers, streetwear y accesorios.">
  <meta name="keywords"
    content="Humble, sneakers, streetwear, México, nba, mlb, nfl, adidas, nike, reebok, vans, asics, jordan, new era, basketball, futbol, soccer, jerseys, air force, nike, air max, continental 80">
  <title>Sneakers</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/styles.css">
</head>

<!--Inicia Header-->
<header class="container-fluid">

  <nav class="navbar navbar-expand-lg navbar-light bg-white p3">
    <div class="container-fluid">
      <a class="navbar-brand" href="../../index.html">
        <span class="text-dark fs-5 fw-bold  ">Humbless</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../views/noticias.html">Noticias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/sneakers.html">Sneakers</a>
          <li class="nav-item">
            <a class="nav-link" href="../views/streetwear.html">Streetwear</a>
          <li class="nav-item">
            <a class="nav-link" href="../views/accesorios.html">Accesorios</a>
          <li class="nav-item">
            <a class="nav-link" href="../views/contacto.html">Contacto</a>
          </li>
        </ul>

        <form class="d-flex">
          <input class="form-control me-2" type="email" placeholder="Correo Electronico" aria-label="email">
          <button class="btn  btn-warning btn-warning-success" type="buttom">Suscribete</button>
        </form>
      </div>
    </div>
  </nav>


</header>

  
    
    <!--Finaliza Header-->

    <div class="sneakersEncabezado">
        <h1>Sneakers</h1>
    </div>


    <section class="row">

      <div class="row mx-auto text-center movimiento" style="width: 30rem;">
        <img class="im-fuid" src="../img/nike1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">REEBOK INSTAPUMP FURY ZONE BLACK</h5>
          <p class="card-text">
             </p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
  
      <div class="row mx-auto text-center movimiento" style="width: 30rem;">
        <img class="im-fuid" src="../img/nike2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NIKE AF1 LV8 ATHLETIC CLUB BLACK GOLD</h5>
          <p class="card-text">
           </p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
  
      <div class="row mx-auto text-center movimiento" style="width: 30rem;">
        <img class="" src="../img/nike3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NIKE AF1 LV8 ATHLETIC CLUB ORANGE</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="row mx-auto text-center movimiento" style="width: 30rem;">
        <img class="" src="../img/nike4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NIKE AIR MAX 97 AIR SPRUNG IRON GREY</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="row mx-auto text-center movimiento" style="width: 30rem;">
        <img class="" src="../img/nike5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NIKE SB ZOOM BLAZER MID PRM NOBLE GREEN</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="row mx-auto text-center movimiento" style="width: 30rem;">
        <img class="" src="../img/nike6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NIKE WAFFLE TRAINER 2 HYPER ROYAL</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="row mx-auto text-center movimiento" style="width: 30rem;">
        <img class="" src="../img/nike7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NIKE BLAZER MID 77 JUMBO UNIVERSITY BLUE</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="row mx-auto text-center movimiento" style="width: 30rem;">
        <img class="" src="../img/nike8.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ADIDAS NITEBALL BLACK</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="row mx-auto text-center movimiento" style="width: 30rem;">
        <img class="" src="../img/adi1.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ADIDAS SUPERSTAR DARK COLOR</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="row mx-auto text-center movimiento" style="width: 30rem;">
        <img class="" src="../img/puma1.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PUMA RS-Z HAWAIIAN OCEAN</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="row mx-auto text-center movimiento" style="width: 30rem;">
        <img class="" src="../img/nike10.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NIKE AIR MAX 2021 PHOTON DUST</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="row mx-auto text-center movimiento" style="width: 30rem;">
        <img class="" src="../img/adi2.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ADIDAS ZX 8000 YELTIN</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
  
      
    </section>

  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #b9b9b9">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
      <section class="mt-5">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5">
          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="../../index.html" class="text-dark">Home</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="../views/sneakers.html" class="text-dark">Sneakers</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="../views/streetwear.html" class="text-dark">Streetwear</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="../views/accesorios.html" class="text-dark">Accesorios</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="../views/contacto.html" class="text-dark">Contacto</a>
            </h6>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-5" />

      <!-- Section: Text -->
      <section class="mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p class="text-dark">
              Transformamos la experiencia de compra para nuestros clientes. Al día de hoy nos hemos renovado
              completamente con el objetivo de consolidarnos como uno de los destinos más importantes del sneaker
              culture en México.
            </p>
          </div>
        </div>
      </section>
      <!-- Section: Text -->


      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(59, 59, 59, 0.308)">
        © 2022 Todos los derechos reservados:
        <a class="text-dark">Troubles</a>
      </div>
      <!-- Copyright -->
  </footer>
  <!-- Footer -->
  </div>
   <!--Termina Footer-->

</body>

</html>