<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUMBLESS</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>


<body>

 <!--Inicia Header-->
 <header class="header">

  <div class="contenedor">
  <nav class="header__contenido"> 
  <picture class="logo">
    <a href="../../index.html"> <img src="../../assets/img/Logoweb.png" style width="100px"></a>
    </picture>

    <ul class="menu flex-row">
      <li class="menu__item">
        <a href="../views/noticias.html" class="menu__link">Noticias</a>
      </li>
      <li class="menu__item">
        <a href="../views/sneakers.html" class="menu__link">Sneakers</a>
      </li>
      <li class="menu__item">
        <a href="../views/streetwear.html" class="menu__link">Streetwear</a>
      </li>
      <li class="menu__item">
        <a href="../views/accesorios.html" class="menu__link">Accesorios</a>
      </li>
    
    </ul>
  </nav>

  </div>

  </header>

  
  <!--Finaliza Header-->

  <div class="gallery-streetwear">
    <div class="div1"> <img class="img-gallery" src="../img/st1.png" alt "img-gallery"> </div>
    <div class="div2"> <img class="img-gallery" src="../img/st2.png" alt "img-gallery"> </div>
    <div class="div3"> <img class="img-gallery" src="../img/st5.png" alt "img-gallery"> </div>
    <div class="div4"> <img class="img-gallery" src="../img/st1.png" alt "img-gallery"> </div>
    <div class="div5"> <img class="img-gallery" src="../img/st5.png" alt "img-gallery"> </div>
    <div class="div6"> <img class="img-gallery" src="../img/st2.png" alt "img-gallery"> </div>
    <div class="div7"> <img class="img-gallery" src="../img/st1.png" alt "img-gallery"> </div>
    <div class="div8"> <img class="img-gallery" src="../img/st5.png" alt "img-gallery"> </div>
    <div class="div9"> <img class="img-gallery" src="../img/st2.png" alt "img-gallery"> </div>
    <div class="div10"> <img class="img-gallery" src="../img/st5.png" alt "img-gallery"> </div>
    <div class="div11"> <img class="img-gallery" src="../img/st1.png" alt "img-gallery"> </div>
    <div class="div12"> <img class="img-gallery" src="../img/st2.png" alt "img-gallery"> </div>
    </div>

<!--finaliza galeria-->
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<!--Inicia Footer-->
<footer class="footer">
  <div class="contenedor">
    <footer>
   <div class="logo">
        <p> <a href="index.html"> <img src="../img/Logowebfooter.png" style
              width="0px"></a></p>
       
      </div>
  
      <ul class="socials">
        <a href="https://twitter.com/LyonAguilar/"> <img src="../img/fbpng.png"
            style="width: 30px;"></a>
        <a href="https://www.facebook.com/BeHumbl3/"> <img src="../img/60580.png"
            style="width: 30px;"></a>
      </ul>
  
      <p>©2022 Troubles, Inc. Todos los
        derechos reservados.</p>
  </div>
  
  </footer>
<!--Termina Footer-->
</body>

</html>