
/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comfortaa:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lato:ital,wght@0,300;0,700;0,900;1,400;1,900&family=Modak&family=Righteous&display=swap');

/*Variables*/

:root {

    --principal: white;
    --secondary: black;
    /*--font-primary:;  */
    --font-secondary:'Roboto', sans-serif;
    --text-lg: 2em;
    --text-md: 1.8em;
}

/*RESET*/

* ,
*::before,
*::after{    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

/*Globals*/

html {
    height: 100vw;
    font-size: 62.5%;
    color: var(--secondary);
}

body{
    min-height: 100vh;
}


ul {

    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--secondary);
    display: inline-block;
}

/*Helpers*/

.flex-row {
    display: flex;

}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1000px;
    margin: 0 auto;


}

/* Inicia Header*/
header {
    grid-area: header;
    background-color: yellow;
    font-family: var(--font-primary);
    padding: 1rem 0;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    
}

header .navbar {
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2rem;
    flex-wrap: wrap;

}

header .logo {
    flex-basis: 27%;
    justify-content: space-between;
    
}

header .menu {
    flex-basis: 70%;
    justify-content: space-evenly;
    align-items: center;

    
}

header .menu__link:hover{
    color: rgb(173, 1, 159);
}

header .menu__item { 
    border: 2px solid yellow;
    transition: border-color .3s ease-in-out;
    justify-content: space-between;
    border-radius: 15px;

}

.menu .menu__item:hover {
    border-color: var(--secondary);


}

.menu .menu__item .menu__link {
    font-size: var(--text-md);
    padding: 1rem;
    
}

/* Termina Header*/
.contenedor{
width: 100%;
margin: auto;
}
img{
    width: 100%;
}
.header__contenido{
    display: flex;
    z-index: 100;
}

.logo{
    font-weight: 900;
    font-size: 30px;
    margin: 10px;
    font-family: cambria;
   color: #fff;
}
.banner{
    height: 50vh;
    margin-top: 0px;
    display: flex;
   background: url('../img/top-image.jpg');
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}

.banner .texto-centrado{
    font-family:'Righteous', cursive;
    ;
}

.banner .texto-centrado:hover{

    color: rgb(136, 255, 0);
    font-family: 'Alfa Slab One', cursive;
}
.banner__descripcion{
    position: absolute;
    text-align: center;
    color: black;
    transform: translateX(-50%) translateY(-50%);
  top: 55%;
  left: 50%;
  width: 100%;
  font-size: 15px;
  margin-top: 25px;
}


.galeria h1{
    font-size: 40px;
    text-align: center;
    color: black;
}
.galeria{
    margin: 80px;
}

.info h1{
    color: #9cc76b;
    font-size: 30px;
}
.info{
    text-align: center;
}
.info__columna{
    margin: 20px;
}
.info .contenedor{
    display: grid;
    grid-gap:10px;
}

.banner2{
    height: 50vh;
   color: rgb(0, 0, 0);
    position: relative;
   background: url('../img/top-image.jpg');
   background-size: cover;
   background-position: right;
   background-attachment: fixed;
}
.banner2 h1{
    font-size: 28px;
}
.banner2__descripcion{
position: absolute;
width: 100%;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
text-align: center;
color: rgb(247, 240, 181);
}
.footer{
    background: rgb(255, 255, 255);
    color: black;
    text-align: center;
    padding: 10px;

}
@media(min-width:520px){
   .banner h1{
       font-size: 30px;
   }
   .grid{
       display: grid;
       grid-gap: 10px;
       grid-template-columns: repeat(2,1fr);
   }
   .team .team__grid {
    grid-template-columns: repeat(2,1fr);
   }
   .info .contenedor{
    grid-template-columns: repeat(3,150px);
    justify-content: space-around;
   }
   .banner2 h1{
       font-size: 50px;
   }
   .banner2 p{
       font-size: 25px;
   }
}

@media(min-width:728px){

    .team .team__grid{
        grid-template-columns: repeat(4,195px);
        justify-content: space-around;
    }
}
@media(min-width:1024px){
   .contenedor{
       width: 1000px;
   }
   .banner h1{
       font-size: 45px;
   }   
.grid{
    grid-template-columns: repeat(auto-fit,minmax(225px,1fr));
grid-auto-flow: dense;
grid-auto-rows: 160px;

}

.big{
    grid-column: span 2;
    grid-row: span 2;
}
.banner2 p{
    font-size: 30px;
}

}

/*Noticias.html*/

.noticias{

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:45px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
    width: 100%;
    
    
}

.noticias img{

    width: 100%;
    height: 300px;
}

.noticias h3{

    font-size: 20px;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
}

.noticias p{

 text-align: justify;
 
}

/*Sneakers.HTML*/

.sneakersEncabezado{

    text-align: center;
    padding-top: 50px;
}

.gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 8px;
        width: 100%;
        align-items:center;
        padding-bottom: 50px;
        border-color: black;
        gap: 10px;
        }
        
        .gallery-streetwear {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 8px;
            width: 100%;
            align-items:center;
            padding-bottom: 50px;
            border-color: black;
            gap: 10px;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 50px;
            } 

            .gallery-accesorios {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, 1fr);
                grid-column-gap: 10px;
                grid-row-gap: 8px;
                width: 100%;
                align-items:center;
                padding-bottom: 50px;
                border-color: black;
                gap: 10px;
                padding-left: 50px;
                padding-right: 50px;
                padding-top: 50px;
                }     

        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 1 / 2 / 2 / 3; }
        .div3 { grid-area: 1 / 3 / 2 / 4; }
        .div4 { grid-area: 1 / 4 / 2 / 5; }
        .div5 { grid-area: 2 / 1 / 3 / 2; }
        .div6 { grid-area: 2 / 2 / 3 / 3; }
        .div7 { grid-area: 2 / 3 / 3 / 4; }
        .div8 { grid-area: 2 / 4 / 3 / 5; }
        .div9 { grid-area: 3 / 1 / 4 / 2; }
        .div10 { grid-area: 3 / 2 / 4 / 3; }
        .div11 { grid-area: 3 / 3 / 4 / 4; }
        .div12 { grid-area: 3 / 4 / 4 / 5; }